@import url("./fontawesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  max-width: 1000px;
  padding: 40px;
  background: #fff;
  margin: auto;
}
#heroSection {
  max-width: none;
  padding: 0;
}

.heading {
  text-align: start;
  margin-bottom: 20px;
}
.heading > h3 {
  font-size: 20px;
  color: #333;
}
